@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /* vertical-align: baseline; */
    font-family: 'Reggae One';
}

body {
    background-color: lightsteelblue;
    /* display: block;
    flex-direction: column; */
}

header {
    font-size: 47px;
    padding: 25px;
    text-align: center;
}

h3 {
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    /* text-align: justify; */
}

svg {
    width: 414px;
    height: 50vh;
    background: transparent;
}

canvas-svg>text {
    padding: 5px;
}

button {
    margin: 7px 0px;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    font-family: 'Reggae One';
    font-size: 20px;
    font-weight: 400;
    border-width: thin;
    border: solid gray;
}

button:hover {
    background-color: lime;
}

.svg {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    align-items: center;

}

#mini-ball {
    stroke: lightslategray;
    stroke-width: 2;
}

/* @media (min-width: 641px) {
    svg {
        width: 100%;
        height: 540px;
        background: transparent;
        display: block;
    }
} */

@media (min-width: 769px) {
    header {
        font-size: 55px;
        padding: 25px;
        text-align: center;
    }
    
    h3 {
        padding: 50px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        text-align: justify;
    }
    svg {
        width: 414px;
        height: 45vh;
        background: transparent;
    }
    button {
        padding: 20px;
        width: 20%;
        border-radius: 8px;
        font-family: 'Reggae One';
        font-size: 25px;
        font-weight: 400;
        border-width: thin;
        border: solid gray;
    }
}
